body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:612px;
}
#u5796 {
  border-width:0px;
  position:absolute;
  left:2064px;
  top:155px;
  width:374px;
  height:612px;
}
#u5796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:55px;
}
#u5797 {
  border-width:0px;
  position:absolute;
  left:2064px;
  top:100px;
  width:374px;
  height:55px;
}
#u5797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5798 {
  border-width:0px;
  position:absolute;
  left:2169px;
  top:128px;
  width:164px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:160px;
  word-wrap:break-word;
}
#u5799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:55px;
}
#u5799 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:100px;
  width:374px;
  height:55px;
}
#u5799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5800 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:128px;
  width:164px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:160px;
  word-wrap:break-word;
}
#u5801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5802 {
  border-width:0px;
  position:absolute;
  left:2070px;
  top:157px;
  width:10px;
  height:17px;
  color:#576B95;
}
#u5802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5803 {
  border-width:0px;
  position:absolute;
  left:2201px;
  top:168px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u5803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:96px;
  word-wrap:break-word;
}
#u5804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:72px;
}
#u5804 {
  border-width:0px;
  position:absolute;
  left:2249px;
  top:419px;
  width:43px;
  height:72px;
}
#u5804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:612px;
}
#u5805 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:155px;
  width:374px;
  height:612px;
}
#u5805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u5806 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:572px;
  width:119px;
  height:50px;
}
#u5806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:138px;
}
#u5807 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:445px;
  width:119px;
  height:138px;
}
#u5807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5809 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:161px;
  width:10px;
  height:17px;
  color:#576B95;
}
#u5809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
