body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:257px;
  width:730px;
  height:173px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:210px;
  width:730px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:216px;
  width:171px;
  height:36px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009900;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:100px;
  width:665px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009900;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:625px;
  word-wrap:break-word;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:100px;
  width:45px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CC3300;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:127px;
  width:665px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CC3300;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:625px;
  word-wrap:break-word;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC3300;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:127px;
  width:45px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC3300;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:154px;
  width:665px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:625px;
  word-wrap:break-word;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC3300;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:154px;
  width:45px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC3300;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:280px;
  width:690px;
  height:126px;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:110px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:34px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:0px;
  width:405px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:375px;
  word-wrap:break-word;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:80px;
  height:64px;
  text-align:left;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:50px;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:64px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:34px;
  width:110px;
  height:64px;
  text-align:left;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:80px;
  word-wrap:break-word;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:64px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:34px;
  width:95px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009966;
  text-align:left;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:23px;
  width:65px;
  word-wrap:break-word;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:64px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:34px;
  width:405px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:5px;
  width:375px;
  word-wrap:break-word;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:80px;
  height:28px;
  text-align:left;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:98px;
  width:110px;
  height:28px;
  text-align:left;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:98px;
  width:95px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009966;
  text-align:left;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:5px;
  width:65px;
  word-wrap:break-word;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:28px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:98px;
  width:405px;
  height:28px;
  text-align:left;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:5px;
  width:375px;
  word-wrap:break-word;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:497px;
  width:730px;
  height:233px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:450px;
  width:730px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:456px;
  width:175px;
  height:36px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:520px;
  width:690px;
  height:170px;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:110px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:34px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:0px;
  width:405px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u520_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:375px;
  word-wrap:break-word;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:46px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:80px;
  height:46px;
  text-align:left;
}
#u521_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:50px;
  word-wrap:break-word;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:34px;
  width:110px;
  height:46px;
  text-align:left;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:34px;
  width:95px;
  height:46px;
  color:#009966;
  text-align:left;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:65px;
  word-wrap:break-word;
}
#u524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:46px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:34px;
  width:405px;
  height:46px;
  text-align:left;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:5px;
  width:375px;
  word-wrap:break-word;
}
#u525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:30px;
  text-align:left;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:80px;
  width:110px;
  height:30px;
  text-align:left;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:80px;
  width:95px;
  height:30px;
  color:#009966;
  text-align:left;
}
#u527_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:30px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:80px;
  width:405px;
  height:30px;
  text-align:left;
}
#u528_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:80px;
  height:30px;
  text-align:left;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:110px;
  width:110px;
  height:30px;
  text-align:left;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:110px;
  width:95px;
  height:30px;
  color:#009966;
  text-align:left;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:30px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:110px;
  width:405px;
  height:30px;
  text-align:left;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:140px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:140px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:30px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:140px;
  width:405px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
