body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u3389 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:482px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:483px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3390 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:321px;
  width:260px;
  height:483px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3391 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:538px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3392 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:616px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3393 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:452px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u3394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
}
#u3394p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:14px;
  width:180px;
  height:4px;
  -webkit-transform:rotate(-11deg);
  -moz-transform:rotate(-11deg);
  -ms-transform:rotate(-11deg);
  transform:rotate(-11deg);
}
#u3394p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:4px;
}
#u3394.compound {
  width:0px;
  height:0px;
}
#u3394 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:482px;
  width:170px;
  height:32px;
}
#u3394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u3395p000 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:22px;
  width:178px;
  height:6px;
  -webkit-transform:rotate(17deg);
  -moz-transform:rotate(17deg);
  -ms-transform:rotate(17deg);
  transform:rotate(17deg);
}
#u3395p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:6px;
}
#u3395.compound {
  width:0px;
  height:0px;
}
#u3395 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:520px;
  width:165px;
  height:49px;
}
#u3395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:127px;
}
#u3396p000 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:60px;
  width:218px;
  height:6px;
  -webkit-transform:rotate(36deg);
  -moz-transform:rotate(36deg);
  -ms-transform:rotate(36deg);
  transform:rotate(36deg);
}
#u3396p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:6px;
}
#u3396.compound {
  width:0px;
  height:0px;
}
#u3396 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:520px;
  width:171px;
  height:126px;
}
#u3396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u3397 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:579px;
  width:67px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u3397_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u3398 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:478px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:594px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3399 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:210px;
  width:401px;
  height:594px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3400 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:540px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3401 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:633px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3402 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:353px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u3403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3403 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:446px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:112px;
}
#u3404p000 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:52px;
  width:206px;
  height:6px;
  -webkit-transform:rotate(-34deg);
  -moz-transform:rotate(-34deg);
  -ms-transform:rotate(-34deg);
  transform:rotate(-34deg);
}
#u3404p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:6px;
}
#u3404.compound {
  width:0px;
  height:0px;
}
#u3404 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:390px;
  width:167px;
  height:111px;
}
#u3404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u3405p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:13px;
  width:176px;
  height:6px;
  -webkit-transform:rotate(-11deg);
  -moz-transform:rotate(-11deg);
  -ms-transform:rotate(-11deg);
  transform:rotate(-11deg);
}
#u3405p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:6px;
}
#u3405.compound {
  width:0px;
  height:0px;
}
#u3405 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:477px;
  width:167px;
  height:33px;
}
#u3405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u3406p000 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:22px;
  width:178px;
  height:6px;
  -webkit-transform:rotate(17deg);
  -moz-transform:rotate(17deg);
  -ms-transform:rotate(17deg);
  transform:rotate(17deg);
}
#u3406p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:6px;
}
#u3406.compound {
  width:0px;
  height:0px;
}
#u3406 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:516px;
  width:165px;
  height:49px;
}
#u3406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:138px;
}
#u3407p000 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:66px;
  width:224px;
  height:6px;
  -webkit-transform:rotate(39deg);
  -moz-transform:rotate(39deg);
  -ms-transform:rotate(39deg);
  transform:rotate(39deg);
}
#u3407p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:6px;
}
#u3407.compound {
  width:0px;
  height:0px;
}
#u3407 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:520px;
  width:168px;
  height:137px;
}
#u3407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u3408 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:575px;
  width:98px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u3408_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u3409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3409 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:478px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3410 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:548px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3411 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:618px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:46px;
}
#u3412p000 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:20px;
  width:96px;
  height:6px;
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -ms-transform:rotate(-30deg);
  transform:rotate(-30deg);
}
#u3412p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:6px;
}
#u3412.compound {
  width:0px;
  height:0px;
}
#u3412 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:520px;
  width:77px;
  height:45px;
}
#u3412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:5px;
}
#u3413 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:574px;
  width:68px;
  height:4px;
}
#u3413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u3414p000 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:22px;
  width:96px;
  height:6px;
  -webkit-transform:rotate(35deg);
  -moz-transform:rotate(35deg);
  -ms-transform:rotate(35deg);
  transform:rotate(35deg);
}
#u3414p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:6px;
}
#u3414.compound {
  width:0px;
  height:0px;
}
#u3414 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:588px;
  width:74px;
  height:51px;
}
#u3414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3415 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:690px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:191px;
}
#u3416p000 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:92px;
  width:256px;
  height:6px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u3416p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:6px;
}
#u3416.compound {
  width:0px;
  height:0px;
}
#u3416 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:524px;
  width:161px;
  height:190px;
}
#u3416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3417 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:717px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:213px;
}
#u3418p000 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:104px;
  width:276px;
  height:4px;
  -webkit-transform:rotate(52deg);
  -moz-transform:rotate(52deg);
  -ms-transform:rotate(52deg);
  transform:rotate(52deg);
}
#u3418p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:4px;
}
#u3418.compound {
  width:0px;
  height:0px;
}
#u3418 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:530px;
  width:167px;
  height:212px;
}
#u3418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3419 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:270px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:186px;
}
#u3420p000 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:89px;
  width:258px;
  height:6px;
  -webkit-transform:rotate(-47deg);
  -moz-transform:rotate(-47deg);
  -ms-transform:rotate(-47deg);
  transform:rotate(-47deg);
}
#u3420p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:6px;
}
#u3420.compound {
  width:0px;
  height:0px;
}
#u3420 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:305px;
  width:172px;
  height:185px;
}
#u3420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3421 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:374px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:92px;
}
#u3422p000 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:42px;
  width:200px;
  height:6px;
  -webkit-transform:rotate(-28deg);
  -moz-transform:rotate(-28deg);
  -ms-transform:rotate(-28deg);
  transform:rotate(-28deg);
}
#u3422p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:6px;
}
#u3422.compound {
  width:0px;
  height:0px;
}
#u3422 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:410px;
  width:170px;
  height:91px;
}
#u3422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
